---
import Layout from "../layouts/Layout.astro";
import Badge from "../components/Badge.astro";
import SectionContainer from "../components/Section.astro";
import LinkedInIcon from "../components/Icons/LinkedIn.astro";
import SocialPill from "../components/SocialPill.astro";
import GitHubIcon from "../components/Icons/GitHub.astro";
import GmailIcon from "../components/Icons/Gmail.astro";
import Experience from "../components/Experience.astro";
import CodeIcon from "../components/Icons/Code.astro";
import RobotIcon from "../components/Icons/Robot.astro";
import BoltIcon from "../components/Icons/Bolt.astro";
import JavaScriptIcon from "../components/Icons/JavaScript.astro";
import JavaIcon from "../components/Icons/Java.astro";
import MySQLIcon from "../components/Icons/MySQL.astro";
import PythonIcon from "../components/Icons/Python.astro";
import ReactIcon from "../components/Icons/React.astro";
import AngularIcon from "../components/Icons/Angular.astro";
import NodejsIcon from "../components/Icons/Nodejs.astro";
import SpringIcon from "../components/Icons/Spring.astro";
---

<Layout
  title="Porfolio de Cristian Rodríguez - Desarrollador y Porgramador de software"
  description="Contrata a Cristian Rodríguez, Desarrollador de software Full Stack, para tu próximo proyecto."
>
  <main class="px-4">
    <SectionContainer class="py-40 pb-20">
      <h1
        class="text-white text-2xl md:text-4xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-6 lg:pb-10"
      >
        Hola! Soy Cristian.R <a
          href="https://www.linkedin.com/in/cristian-alcides-rodr%C3%ADguez-cervantes-a3b705250/"
          target="_blank"
          rel="noopener"
          class="flex justify-center items-center"
        >
          <Badge>Disponible para trabajar</Badge>
        </a>
      </h1>
      <h2 class="text-xl lg:text-2xl text-wrap max-w-[700px]">
        <span class="text-blue-200 opacity-70"
          >Desarrollador de software Full Stack.</span
        >
        <span class="text-blue-200 opacity-70">
          Apasionado de la tecnologia y la programación.</span
        >
        <span class="text-red-200 opacity-70"> De Madrid, España.</span>
      </h2>

      <nav class="flex gap-3 mt-6 flex-wrap">
        <SocialPill
          href="https://www.linkedin.com/in/cristian-alcides-rodr%C3%ADguez-cervantes-a3b705250/"
        >
          <LinkedInIcon class="size-4 md:size-6" />
          LinkedIn
        </SocialPill>
        <SocialPill href="https://github.com/CristianRodriguez07">
          <GitHubIcon class="size-3 md:size-6" />
          GitHub
        </SocialPill>
        <SocialPill href="mailto:cr113022@gmail.com">
          <GmailIcon class="size-3 md:size-6" />
          cr113022@gmail.com
        </SocialPill>
      </nav>
    </SectionContainer>
    <SectionContainer id="sobre-mi">
      <h2 class="text-2xl font-semibold mb-4 flex gap-x-3 items-center">
        <RobotIcon class="size-8" />
        Sobre mí
      </h2>
      <p class="mb-4 text-xl font-normal text-blue-200 opacity-70 text-pretty">
        Mi nombre es Cristian Rodríguez. Si bien estoy dando mis primeros pasos
        en el ámbito de la programación, mi trayectoria en el mundo de la
        tecnología ha sido constante. Soy un entusiasta apasionado por este
        sector y todo lo que representa. Me encuentro en un proceso de
        aprendizaje continuo, adaptándome y creciendo a medida que la tecnología
        avanza, con el objetivo de estar siempre a la vanguardia de las últimas
        tendencias e innovaciones.
      </p>
      <p class="mb-4 text-xl font-normal text-red-200 opacity-70 text-pretty">
        Mi objetivo es contribuir de manera significativa a la innovación
        tecnológica, aplicando mis conocimientos y desarrollando habilidades que
        me permitan ser parte activa de los cambios y avances que están
        transformando el futuro.
      </p>
    </SectionContainer>
    <SectionContainer id="experiencia">
      <h2 class="text-2xl font-semibold mb-4 flex gap-x-3 items-center">
        <CodeIcon class="size-8" />
        Mi experiencia
      </h2>
      <Experience />
      <SectionContainer />
      <SectionContainer id="skills" />
      <h2 class="text-2xl font-semibold mb-4 flex gap-x-3 items-center">
        <BoltIcon class="size-8" />
        Skills
      </h2>
      <nav class="flex gap-3 mt-6 flex-wrap">
        <SocialPill>
          <SpringIcon class="size-4 md:size-6" />
          Spring Boot
        </SocialPill>
        <SocialPill>
          <ReactIcon class="size-4 md:size-6" />
          React
        </SocialPill>
        <SocialPill>
          <PythonIcon class="size-4 md:size-6" />
          Python
        </SocialPill>
        <SocialPill>
          <AngularIcon class="size-4 md:size-6" />
          Angular
        </SocialPill>
        <SocialPill>
          <NodejsIcon class="size-4 md:size-6" />
          Node.js
        </SocialPill>
        <SocialPill>
          <JavaScriptIcon class="size-4 md:size-6" />
          JavaScript
        </SocialPill>
        <SocialPill>
          <JavaIcon class="size-4 md:size-6" />
          MongoDB
        </SocialPill>
        <SocialPill>
          <MySQLIcon class="size-4 md:size-6" />
          MYSQL
        </SocialPill>
      </nav>
    </SectionContainer>
  </main>
</Layout>
