---
import ExperienceItem from "./ExperienceItem.astro";

const EXPERIENCE = [
  {
    date: "2023-2024",
    title: "Desarrollador de software - Getronics",
    description:
      "Como programador en Getronics, he trabajado con Java, Angular, React y Node.js para el desarrollo de software y su mantenimiento, además de contribuir activamente al desarrollo de soluciones innovadoras. Esta experiencia práctica no solo ha mejorado mis competencias técnicas, sino que también ha fortalecido mi capacidad para colaborar y prosperar en entornos de equipo. Además, he perfeccionado mi habilidad para resolver problemas, permitiéndome enfrentar los desafíos con mayor agilidad y eficacia.",
  },
  {
    date: "2022-2024",
    title:
      "Grado Superior en Desarrollo de Aplicaciones Multiplataforma - Cesur Plaza Elíptica",
    description:
      "Durante mis estudios en Desarrollo de Aplicaciones Multiplataforma (DAM), adquirí una sólida base en el diseño y desarrollo de software para diversos dispositivos. Aprendí a programar en lenguajes como Java, Kotlin, HTML y CSS, enfocándome en el desarrollo de aplicaciones en entornos Android. También me especialicé en bases de datos, trabajando con MySQL para la gestión y manipulación de datos. Además, durante un breve periodo, aprendí los fundamentos de Python, ampliando mis capacidades en el ámbito del desarrollo.",
  },
];
---

<ol class="relative border-s border-gray-200 dark:border-gray-700 ml-3.5">
  {
    EXPERIENCE.map((experiencie) => (
      <li class="mb-10 ms-4">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
