<header
  class="flex justify-center items-center py-5 w-full xl:w-[1120px] mx-auto"
>
  <img
    class="size-14 rounded-full lg:mx-10 mx-10"
    src="https://avatars.githubusercontent.com/u/22528831?s=400&u=103cd0d23268aecd616b0a5ead18996b20370d81&v=4"
    alt="Cris photo"
  />
  <nav class="flex flex-row gap-x-10 opacity-80 text-xs lg:text-base">
    <a href="/">Inicio</a>
    <a href="#sobre-mi">Sobre mí</a>
    <a href="#experiencia">Experiencia</a>
    <a href="#skills">Skills</a>
  </nav>
</header>
